/* App.css */
.app {
  display: flex;
}

.sidebar {
  width: 250px;
  background: #282c34;
  padding: 20px;
  color: white;
}

.content {
  flex: 1;
  padding: 20px;
  position: relative; /* Adicione isso para usar posicionamento absoluto */
}

.toggle-container {
  position: absolute; /* Faz o toggle flutuar */
  top: 20px; /* Distância do topo */
  right: 20px; /* Distância da direita */
}

.light-mode {
  background-color: white;
  color: black;
}

.dark-mode {
  background-color: #141618;
  color: white;
}

.toggle {
  display: flex;
  align-items: center;
}

.toggle input {
  display: none; /* Esconde a caixa de seleção */
}

.toggle .slider {
  width: 40px;
  height: 20px;
  background: gray;
  border-radius: 20px;
  position: relative;
  transition: background 0.3s;
}

.toggle .slider:before {
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  background: white;
  border-radius: 50%;
  transition: transform 0.3s;
}

.toggle input:checked + .slider {
  background: rgb(68, 255, 0); /* Altere a cor quando ativo */
}

.toggle input:checked + .slider:before {
  transform: translateX(20px); /* Mova o círculo quando ativo */
}

.sidebar {
  width: 10%;
  height: 100vh;
}

